@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
.p{
    box-shadow: 0px 3px #eee;
     box-shadow: 3px 3px 3px 3px #eee;
     height:40vh;
     background-color:#ffffff;
}

.p:hover{
   
    
}
.margin-max{
    margin: 0px 1% 100px 2%;
}
.font-vl-md{
    font-size:1.5em;
}
.w-30{
    width:30%;
}
.bottom-0{
    bottom:0
        ;
    top:90;
}
.play{
    font-family: 'Play', sans-serif;
}
